<nav class="container grid-xl navbar">
  <div class="flex-vertical-center hide-sm">
    <a style="width: 20%;" href="{{ site.url }}{{ site.baseurl }}" class="logo">
      <img style="max-width: 100%;" src="{{ site.baseurl }}/assets/{{ site.brand_logo }}"/>
    </a>
    <p class="m-0 ml-2 text-light d-inline">{{ site.content_type }}</p>
  </div>
  <div class="text-center show-sm">
    <a style="width: 100%;" href="{{ site.url }}{{ site.baseurl }}" class="logo flex-centered">
      <img style="max-width: 150px;" src="/assets/{{ site.brand_logo }}"/>
    </a>
    <p class="m-0 text-light">{{ site.content_type }}</p>
    {% if site.nav_button %}
    <a style="height: auto;" class="btn btn-lg btn-outline py-2 mt-4">Return to {{ site.brand_name }} Home</a>
    {% endif %}

  </div>
  <ul class="main-nav">
    {% for element in site.nav_items %}
    {% if element.link %}
    <li class="mx-4">
      <a class="nav-links" href="{{ element.link }}" {% if element.external %}target="_blank"{% endif %}>{{ element.name }}</a>
    </li>
    {% endif %}
    {% endfor %}
    
    {% if site.nav_button %}
    <li>
      <a href="{{ site.nav_button_link }}" style="height: auto;" class="btn btn-lg btn-outline py-2">{{ site.nav_button }}</a>
    </li>
    {% endif %}
  </ul>
</nav>