{% assign bibdata = element %}

{{ bibdata.author }}, 
*\"{{ bibdata.title }},\"* 
{% if bibdata.booktitle %}in {{ bibdata.booktitle }},{% else if bibdata.journal %}{{ bibdata.journal }},{% endif %} 
{% if bibdata.volume %}vol. {{ bibdata.volume }}, {% else %}<!-- -->{% endif %}
{% if bibdata.number %}no. {{ bibdata.number }}, {% else %}<!-- -->{% endif %}
{% if bibdata.pages %}pp. {{ bibdata.pages }}, {% else %}<!-- -->{% endif %}
{% if bibdata.address %}{{ bibdata.address }}, {% else %}<!-- -->{% endif %}
{% if bibdata.month %}{{ bibdata.month }} {% else %}<!-- -->{% endif %}
{% if bibdata.year %}{{ bibdata.year }}{% else %}<!-- -->{% endif %}.
<!-- {% if bibdata.note %}<font style="color:#b71c1c;"> {{ bibdata.note }}.</font>{% else %}{% endif %} -->
{% if bibdata.pdflink %}<a href="{{ bibdata.pdflink }}" target="_blank"> [pdf]</a>{% else %}<!-- -->{% endif %}
{% if bibdata.bibtexlink %}<a href="{{ bibdata.bibtexlink }}" target="_blank"> [bibtex]</a>{% else %}<!-- -->{% endif %}
{: .text-justify}
