<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {{ content }}

    {% include footer.html %}

    <!-- Insights analytics -->
    <script src="https://getinsights.io/js/insights.js"></script>
    <script>
      insights.init('nC40F8NGBydA2nMP');
      insights.trackPages();

      insights.track({
        id: "user-locale",
        parameters: {
          locale: parameters.locale(),
          screenSize: parameters.screenType()
        }
      });
    </script>
    
  </body>
</html>
